
.category-section {
  padding: 50px 20px;
  background: #0f1f16;
  text-align: center;
}

.category-section h2 {
  color: #d7f5dc;
  font-size: 28px;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}



.category-card:hover {
  transform: translateY(-8px);
}


.category-title {
  padding: 12px;
  background: #10281c;
  color: #1cd33b;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}


.image-wrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.view-btn {
  margin: 14px auto 18px;
  padding: 8px 24px;
  background: linear-gradient(135deg, #1f8f4a, #0f5f2f);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0,0,0,0.35);
  transition: all 0.3s ease;
}

.view-btn:hover {
  background: linear-gradient(135deg, #2dbd6e, #178a4b);
  transform: scale(1.05);
}

.category-item {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
  transition: transform 0.3s ease;
}

.category-item:hover {
  transform: translateY(-6px);
}



@media (max-width: 768px) {
  .category-title {
    font-size: 14px;
  }

  .view-btn {
    font-size: 13px;
    padding: 7px 20px;
  }
}
