.delivery-section {
  padding: 80px 20px;
  background: #274430;
}

.delivery-title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  color: #bbc9bb;
  margin-bottom: 40px;
}


.delivery-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}


.delivery-left {
  display: flex;
  gap: 25px;
  align-items: center;
  flex: 1;
}

.delivery-img {
  width: 180px;
}

.location-info h2 {
  font-size: 26px;
  color: #f3f5f3;
  margin-bottom: 8px;
}

.location-info p {
  color: #eceeec;
  margin-bottom: 15px;
}

.location-info ul {
  list-style: none;
  padding: 0;
}

.location-info li {
  margin-bottom: 8px;
  color: #b6afaf;
  font-size: 14px;
}


.delivery-map {
  flex: 1;
}

.delivery-map iframe {
  width: 100%;
  height: 260px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


@media (max-width: 768px) {
  .delivery-container {
    flex-direction: column;
    text-align: center;
  }

  .delivery-left {
    flex-direction: column;
  }

  .delivery-img {
    width: 140px;
  }
}
