/* ===== TOP SELLING SECTION ===== */
.top-selling {
  min-height: 70vh;
  padding: 70px 20px;
  background: radial-gradient(
    circle at top,
    #1f3d2b,
    #0f1f16
  );
  text-align: center;
}

/* Title */
.top-selling h2 {
  color: #d7f5dc;
  font-size: 30px;
  margin-bottom: 60px;
}

.top-selling h2 span {
  border: 1px solid #6fbf73;
  padding: 8px 22px;
  border-radius: 30px;
}

/* ===== GRID ===== */
.selling-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* ===== CARD ===== */
.selling-card {
  width: 260px;
  background: rgba(126, 77, 77, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 22px;
  padding: 10px 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.selling-card:hover {
  transform: translateY(-12px);
}


.image-box {
  width: 100%;
  height: 160px;                
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}


.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 0px; 
}



/* Soft glow behind image */
/* .image-box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(111, 191, 115, 0.25);
  filter: blur(45px);
  border-radius: 50%;
  z-index: -1;
} */


/* ===== TEXT ===== */
.selling-card h3 {
  color: #e8ffe9;
  margin-bottom: 6px;
}

.selling-card p {
  font-size: 13px;
  color: #b9eac0;
  margin-bottom: 18px;
}

/* ===== PRICE ===== */
.price {
  font-size: 16px;
  font-weight: bold;
  color: #6fbf73;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .selling-card {
    width: 230px;
  }
}

@media (max-width: 480px) {
  .selling-card {
    width: 90%;
  }

  .top-selling h2 {
    font-size: 24px;
  }
}
