.footer {
  background: #0c220e;
  color: #fff;
  padding: 60px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}


.footer-logo {
  font-size: 28px;
  color: #a5d6a7;
  margin-bottom: 10px;
}


.footer-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #c8e6c9;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
  color: #e8f5e9;
}

/* LIST */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.footer-box li:hover {
  color: #a5d6a7;
}


.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.footer-social svg {
  background: #2e7d32;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social svg:hover {
  background: #66bb6a;
}


.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: #c8e6c9;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 15px;
}


@media (max-width: 600px) {
  .footer {
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
}
