* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.hero-wrapper {
    padding: 0 !important;
  margin: 0 !important;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  object-position: top;   
  display: block;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

  background: rgba(0, 0, 0, 0.45);
  padding: 25px 40px;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn-primary,
.btn-secondary {
  padding: 12px 26px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary {
  background: #4caf50;
  color: #fff;
}

.btn-secondary {
  background: #fff;
  color: #333;
}

