.services-section {
  padding: 60px 20px;
  text-align: center;
  background: #3f7051;
}

.services-section h2 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #e4eee2;
}


.services-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.service-card {
  background: #f1e6dc;
  border-radius: 20px;
  width: 380px;
  padding-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}


.service-image {
  width: 100%;
  height: 250px;      
  overflow: hidden;
  border-top-left-radius: 140px; 
  border-top-right-radius: 140px;
  margin: 0 auto;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.service-card {
  background: #83c998;
  border-radius: 20px;
  width: 280px;
  padding-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
   border-top-left-radius: 140px;  
  border-top-right-radius: 140px;
}


.service-card h3 {
  margin: 15px 0 10px;
  color: #a02323;
}
.service h2{
  
  color: #a02323;
}

.service-card p {
  padding: 0 15px;
  font-size: 14px;
  color: #5a4f4f;
  margin-bottom: 15px;
}


.service-card button {
  padding: 8px 20px;
  background: #d3570f;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service-card button:hover {
  background: #b57650;
}


@media (max-width: 768px) {
  .services-grid {
    flex-direction: column;
    align-items: center;
  }
}
