.testimonial-section {
  padding: 80px 20px;
  /* background: linear-gradient(180deg, #f6efe9, #fdfaf7); */
  background:#224423;
  text-align: center;
}


.testimonial-title {
  font-size: 38px;
  font-weight: 500;
  color: #f3eeeb;
  margin-bottom: 60px;
}

.testimonial-title span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #a27a5c;
  margin-top: 6px;
}


.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}


.testimonial-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 30px 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}


.testimonial-avatar {
  width: 70px;
  height: 70px;
  margin: -65px auto 15px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #f6efe9;
  background: #fff;
}

.testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.testimonial-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 14px;
}

.testimonial-content h4 {
  font-size: 15px;
  color: #7a4a2e;
  font-weight: 600;
}


.stars {
  color: #c08b5c;
  margin-bottom: 10px;
  font-size: 14px;
}


@media (max-width: 480px) {
  .testimonial-title {
    font-size: 28px;
  }
}
