.details-page {
  min-height: 100vh;
  background: #f7f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.details-card {
  max-width: 1100px;
  width: 100%;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


.details-image {
  flex: 1.1;
}

.details-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.details-info {
  flex: 1;
  padding: 30px;
}

.details-info h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.price {
  font-size: 20px;
  color: #6c4df5;
  margin-bottom: 20px;
}


.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 15px;
}

.available {
  color: green;
  font-weight: 600;
}


.date-section {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.date-section div {
  flex: 1;
}

.date-section label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.date-section input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}


.rent-btn {
  width: 100%;
  padding: 14px;
  background: #6c4df5;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .details-card {
    flex-direction: column;
  }

  .details-image {
    height: 260px;
  }
}
